<h2 mat-dialog-title style="margin: 25px">Eliminar Solicitud</h2>

<form [formGroup]="deleteForm" (ngSubmit)="eliminarSolicitud()" class="delete-form">
  <mat-form-field class="full-width">
    <mat-label>ID Solicitud</mat-label>
    <input matInput formControlName="idSolicitud" readonly />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" readonly />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Monto</mat-label>
    <input matInput formControlName="monto" readonly />
  </mat-form-field>

  <div class="button-container">
    <button mat-flat-button color="warn" type="submit">Eliminar</button>
    <button mat-flat-button color="primary" type="button" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
