<h2 mat-dialog-title style="margin: 20px">Editar Solicitud</h2>

<form [formGroup]="editForm" (ngSubmit)="onSave()" class="edit-form">
  <mat-form-field class="full-width">
    <mat-label>ID Solicitud</mat-label>
    <input matInput formControlName="idSolicitud" readonly />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="monto" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Fecha Esperada</mat-label>
    <input matInput type="date" formControlName="fechaEsperada" />
  </mat-form-field>
  

  <div class="button-container">
    <button mat-flat-button class="button" type="submit" color="primary">
      Guardar
    </button>
    <button
      mat-flat-button
      class="button"
      type="button"
      (click)="onCancel()"
      color="warn"
    >
      Cancelar
    </button>
  </div>
</form>
